/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2c7ead;
    padding: 50px;
    color: white;
    min-height: 100vh;
  } 
  
  .hero-content {
    max-width: 50%;
  } 
  
  .subheading {
    font: 800 23px ;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .heading {
    font-size: 25px;
    font-weight: bold;
    line-height: 2.3vmax;
    letter-spacing: 0.1vmax;
    text-transform: uppercase;

    margin: 20px 0;
  }
  
  .description {
    font-size: 20px;
    margin: 20px 0vmax;
    line-height: 1.6;
  }
  
  .btn {
    background-color: #000;
    color: white;
    padding:15px 30px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .btn:hover {
    background-color: #33333300;
    border: 1px solid black;
    color: black;
  }
  
  /* Hero Image */
  .hero-image img {
    max-width: 75%;
    height: auto;
    border-radius: 20px;
  }
  
  /* Responsive Design */
  @media (max-width: 1024px) {
    .hero {
      flex-direction: column;
      text-align: center;
    }
  
    .hero-content {
      max-width: 100%;
      margin-bottom: 20px;
    }
  
    .hero-image img {
      max-width: 80%;
    }
  }
  
 @media (max-width: 768px) {
    .heading {
      font-size: 32px;
    }
  
    .description {
      font-size: 14px;
    }
  
    .btn {
      padding: 8px 16px;
    }
      .hero-content {
      margin-top: 25vmax ;
  }
    .heading {
      line-height: 6.5vmax;
    }

  }
 

  .homeCenterContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  














  .hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    color: white;
    min-height: 100vh;
    overflow: hidden;
  }
  
  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    opacity: 0.6; /* Optional: Adjust to make content more readable */
  }
  
  .hero-content,
  .hero-image {
    position: relative;
    z-index: 1;
  }
  


  .typing-text {
    font: 800 29px "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-transform: uppercase;
  }

  .learn-highlight-title {
    font-weight: 800;
    font: 800 29px "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  }


  .learn-description {
    font: 400 18px "Roboto";
    padding: 0.5vmax;
  }

  .learn-description > ul > li {
    padding: 0.5vmax;

  }

  .learn-description > ul  > ul > li {
    padding: 0.5vmax;

  }
